@import "../../../assets/styles/main.scss";
.content {
  @include container;
  margin: 0 auto 1rem auto;
  .choiceBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include custom(1150) {
      display: block;
    }
  }
  .back {
    cursor: pointer;
    margin: 0 0 4rem 0;
  }
  .foundedContent {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    .error {
      font-size: 2rem;
      color: $red;
    }
  }
}
