@import "../../../assets/styles/main.scss";
.loader {
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid green;
  width: 6rem;
  height: 6rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
	margin: 0 auto;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
