@import "../../../assets/styles/main.scss";
.card {
	background-color: $white;
	border-radius: 0.25rem;
  .content {
		display: flex;
		.image {
			border-radius: 0.25rem 0 0 0.25rem;
			width: 7.75rem;
			height: 7.75rem;
			margin: 0 1.6rem 0 0;
			@media (max-width:660px) {
				margin: 0 1rem 0 0;
			}
		}
    .info {
			padding: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .text {
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.06em;
        font-variant: small-caps;
        color: $green;
        padding: 0.5rem 0.75rem;
        background: $greenBg;
				margin: 0 0 0.75rem 0;
      }
      .name {
        line-height: 1.5rem;
        color: $darkGrey;
      }
      .date {
        font-size: 0.75rem;
        line-height: 1.5rem;
        color: $darkGrey;
        opacity: 0.4;
      }
    }
  }
}
